# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MSVC
*.sdf
*.suo

# My directories
functional/lib/
functional/bin/
functional/3rd/
functional/temp/
functional/assets/
functional/doc/out/
functional/msvc/ipch/

imperative/lib/
imperative/bin/
imperative/3rd/
imperative/temp/
imperative/assets/
imperative/doc/out/
imperative/msvc/ipch/