functional/3rdParty/**/*.idb
functional/3rdParty/**/*.log
functional/3rdParty/**/*.obj
functional/3rdParty/**/*.pch
functional/3rdParty/**/*.pdb
functional/3rdParty/**/*.tlog
functional/lib/
functional/bin/
functional/temp/
functional/assets/
functional/doc/out/
functional/msvc/ipch/
functional/msvc/*.sdf
functional/msvc/*.suo
functional/msvc/*.opensdf

imperative/3rdParty/**/*.idb
imperative/3rdParty/**/*.log
imperative/3rdParty/**/*.obj
imperative/3rdParty/**/*.pch
imperative/3rdParty/**/*.pdb
imperative/3rdParty/**/*.tlog
imperative/lib/
imperative/bin/
imperative/temp/
imperative/assets/
imperative/doc/out/
imperative/msvc/ipch/
imperative/msvc/*.sdf
imperative/msvc/*.suo
imperative/msvc/*.opensdf